<!--<script src="//connect.soundcloud.com/sdk.js"></script>-->

<!-- <audio src="http://api.soundcloud.com/i1/tracks/137078163/streams?client_id=854f20c74e55b29bf7f90dcdb88a4f04" preload="auto"></audio> -->
<div id='sidebar-nav'>
  <p>Menu</p>
  <p class='artist-sidebar-icon'><%= fa_icon "bars" %></p>
</div>

<div id='artist_feed_content'>
  <div id='artist-banner'>
    <div class='artist-background-image'>
      <%= image_tag @artist.try(:twitter_account).try(:profile_background_image_url), width: "100%", height: "200px" %>
    </div>
    <div class='artist-info'>
      <%= @artist.name %>
    </div>
  </div>

  <div id='left-feed-container'>
    <div id='left-feed-control'>
      <div>
        <%= fa_icon "arrow-left" %>
      </div>
      <div style='text-align: center;'>
        <%= fa_icon "twitter" %>
      </div>
    </div>

    <div id='left-feed-body'>
      <%= image_tag 'twitter_logo.png', width: 48, height: 48 %>
      <div class='feed'>
        <% if @artist_twitter_account %>
          <% cache ['feed', @artist_twitter_account] do %>
            <p><%= @artist_twitter_account.username %></p>
            <% @artist_twitter_account.tweets.reverse_order.each do |tweet| %>
              <% cache ['feed', tweet] do %>
                <div class="single_twitter_feed">
                  <p><%= tweet.message %></p>
                  <table width="100%">
                    <thead>
                      <tr>
                        <th>Retweets</th>
                        <th>Favorites</th>
                        <th>Retweet</th>
                        <th>Favorite</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= tweet.retweet_count %></td>
                        <td><%= tweet.favorites_count %></td>
                        <td><%= link_to_if @user_twitter_account, (fa_icon 'reply'), retweet_artist_path(tweet), :method => 'post' %></td>
                        <td><%= link_to_if @user_twitter_account, (fa_icon 'heart'), favorite_tweet_artist_path(tweet), :method => 'post' %></td>
                      </tr>
                    </tbody>
                  </table>
                  <% if @user_twitter_account %>
                    <%= form_tag reply_to_tweet_artist_path(tweet) do %>
                      <div class="tweet_reply">
                        <%= label_tag 'Reply' %>
                        <%= text_area_tag 'message', nil, :size => '35X20' %>
                        <%= submit_tag 'Tweet' %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
