<div id="admin_manager_body">
  <div id="admin_manager_top_nav">
    <%= link_to (fa_icon 'home', :id => 'home_back_icon'), root_path %>
     <div id="admin_header">Admin Panel</div>
  </div>
 <!--  <div id="admin_header">Admin Panel</div> -->

  <div id="admin_flash_messages">
    <% if flash[:error] %>
      <p>ERROR</p>
      <div id="admin_error_message"><%= flash[:error].join('<br>').html_safe %></div>
    <% elsif flash[:notice] %>
      <div id="admin_success_message"><%= flash[:notice] %></div>
    <% end %>
  </div>
  

  <div class="admin_section">
    <%= form_tag admin_manager_create_artist_path, :method => 'post' do %>
      <%= fields_for @artist do |artist| %>
        <table id="new_artist_table">
          <thead></thead>
          <tbody>
            <tr>
              <td><%= label_tag 'artist', 'Artist' %></td>
              <td><%= artist.text_field 'name', :placeholder => "Name Given to Artist at Birth", :class => "admin_artist_tf" %></td>
            </tr>
            <tr>
              <td><%= label_tag 'music_genre', 'Music Genre' %></td>
              <td><%= artist.text_field 'music_genre', :value => 'EDM', :placeholder => "EDM EDM EDM", :class => "admin_artist_tf" %></td>
            </tr>
            <tr>
              <td><%= label_tag 'twitter_url', 'Twitter URL', nil %></td>
              <td><%= artist.text_field 'twitter_url', :placeholder => "The Place of Tweet", :class => "admin_artist_tf" %></td>
            </tr>
            <tr>
              <td><%= label_tag 'facebook_url', 'Facebook URL', nil %></td>
              <td><%= artist.text_field 'facebook_url', :placeholder => "Face on a Book", :class => "admin_artist_tf" %></td>
            </tr>
            <tr>
              <td><%= label_tag 'soundcloud_url', 'Soundcloud URL', nil %></td>
              <td><%= artist.text_field 'soundcloud_url', :placeholder => "Chunes", :class => "admin_artist_tf"%></td>
            </tr>
            <tr>
              <td><%= label_tag 'songkick_url', 'Songkick URL', nil %></td>
              <td><%= artist.text_field 'songkick_url', :placeholder => "I'm gonna Kick your Song", :class => "admin_artist_tf" %></td>
            </tr>
            <tr>
              <td><%= submit_tag 'Create Artist', :id => 'admin_get_info_submit_bt' %></td>
              <td><%= link_to 'Reset', '', :id => 'admin_reset_bt' %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    <% end %>
  </div>
</div>